@app.route('/login', methods=['GET', 'POST'])
def login():
    if request.method == 'POST':
        email = request.form['email']
        password = request.form['password']

        conn = sqlite3.connect('wallet.db')
        c = conn.cursor()
        c.execute("SELECT * FROM users WHERE email = ? AND password = ?", (email, password))
        user = c.fetchone()
        conn.close()

        if user:
            # এই অংশ বাদ, কারণ আর ভেরিফিকেশন লাগবে না
            # if user[7] != 1:
            #     session['pending_email'] = email
            #     return redirect('/verify')
            
            session['user_id'] = user[0]
            session['email'] = user[2]
            return redirect('/dashboard')
        else:
            return "Invalid credentials."
    return render_template('login.html')
