
@app.route('/register', methods=['GET', 'POST'])
def register():
    if request.method == 'POST':
        name = request.form['name']
        email = request.form['email']
        password = request.form['password']
        referred_by = request.form.get('referred_by')
        refer_code = email.split('@')[0] + str(random.randint(100, 999))

        conn = sqlite3.connect('wallet.db')
        c = conn.cursor()
        try:
            c.execute("INSERT INTO users (name, email, password, refer_code, referred_by, verified) VALUES (?, ?, ?, ?, ?, ?)",
                      (name, email, password, refer_code, referred_by, 1))  # সরাসরি verified = 1

            # রেফার থাকলে বোনাস
