{% extends 'base.html' %}
{% block title %}Withdraw{% endblock %}
{% block content %}
<h2>Withdraw Request</h2>
<form method="POST">
  <select name="method" required>
    <option value="">Select Gateway</option>
    <option value="Bkash">Bkash</option>
    <option value="Nagad">Nagad</option>
    <option value="Rocket">Rocket</option>
    <option value="PayPal">PayPal</option>
    <option value="Payoneer">Payoneer</option>
  </select>
  <input type="text" name="number" placeholder="Account Number / Email" required>
  <input type="number" name="amount" placeholder="Amount" required>
  <button type="submit">Request Withdraw</button>
</form>
<a href="/dashboard">Back to Dashboard</a>
{% endblock %}
